.table-grey .p-datatable-tbody > tr > td {
    background-color: #f5f5f5;
    /* color: #212529; */
}
.table-grey .p-datatable-thead > tr > td {
    background-color: #f5f5f5;
    /* color: #212529; */
}
.table-grey .p-datatable-tbody > tr:nth-child(even) > td {
    background-color: #f5f5f5;
    /* color: #212529; */
}